# langchain core
langchain
langchain-core

# langchain extras
langchain-community
langchain-experimental

# openai integration
langchain-openai
openai

# anthropic integration
langchain-anthropic
anthropic

# google generative AI (PaLM) integration
langchain-google-genai
google-genai # google-generativeai->depricated

# huggingface integration
langchain-huggingface
huggingface-hub
transformers

# machine learning utilities
numpy
scikit-learn

# environment variables
python-dotenv

# notebook support
jupyterlab
ipykernel
ipywidgets

# pytorch for huggingface models
torch

# typechecking
mypy
pydantic[email,timezone]

# to draw chain graphs
grandalf

# embeding generation
chromadb
pinecone-client
qdrant-client
faiss-cpu
tiktoken
pypdf

# newer embeding packages
langchain-chroma
# langchain-faiss   # requires py>=3.11
langchain-pinecone
langchain-qdrant

# retriever
wikipedia

# rag helpers
youtube-transcript-api

# tools
ddgs
duckduckgo-search
langchain-tavily
